/* Reset to default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 1000px;
    /* min-height: 1000px; */
    /* background-color: cadetblue; */
    margin: 0 auto;
    font-family: sans-serif;
}
/* Utility Classes */
.flex-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    /* HEADER */
    header {
        width: 100%;
        min-height: 50px;
        background-color: darkgray;
    }
    .left-header{
        width: 40%;
        /* background-color: chartreuse; */
        height: 40px;
        justify-content: space-around;
    }
    .left-header img {
        width: 35px;
    }
        input[type="text"] {
            border: 2px solid black;
            height: 30px;
        }
        .left-header button {
            padding: 5px 7px;
            box-shadow: 3px 4px black;
            border: 2px solid black;
            background-color: rgb(255,153,0);
        }
    .right-header {
        width: 30%;
        justify-content: flex-end;
        /* background-color: cyan; */
        /* height: 40px; */
        /* justify-content: space-evenly; */
    }
    .right-header button {
        padding: 5px 15px;
        border: 1px black solid;
        border-radius: 5px;
        margin-right: 20px;
    }
    .get-app {
        background-color: rgb(43,120,228);
        color: white;
    }
    .log-in {
        background-color: rgb(255,153,0);
    }

    /* NAV */
    nav {
        width: 100%;
        background-color: white;
        /* min-height: 150px; */
        padding: 0 100px;
    }
    .top-nav {
        width: 25%;
        margin-top: 50px;

    }
    .top-nav img {
        width: 50px;
        border: 2px solid black;
        border-radius: 50%;
    }
    nav ul {
        width: 25%;
        list-style: none;
        margin-top: 5px;
    }
        ul li {
            list-style: none;
        }
        .top-nav button {
            background-color: rgb(207,42,39);
            color: white;
            padding: 5px 20px;
            border:none;
            border-radius: 5px;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .active {
            color: rgb(207,42,39);
            text-decoration: underline;
        }
    /* MAIN */
    main {
        width: 100%;
        background-color: rgb(221,221,221);
        /* min-height: 700px; */
        align-items: flex-start;
        justify-content: space-around;
        padding: 5px 100px;
    }
    .left-main {
        width: 60%;
        /* background-color: cornflowerblue; */
        min-height: 500px;
    }
        .left-card {
            align-items: flex-start;
            padding: 10px;
            /* justify-content: center; */
            width: 90%;
            border: 3px gray solid;
            background-color: white;
            margin-bottom: 15px;
        }
        .votes {
            margin: 0 10px;
        }
        .arrow {
            width: 30px;
        }
        .comments {
            width: 60%;
        }
        .project> img {
            width: 100%;
        }
    .right-main {
        width: 35%;
        /* background-color: coral; */
        min-height: 500px;
    }
    .right-card p {
        background-color: white;
        padding: 20px 10px;
        border: 3px gray; 
    }
    .right-card h3 {
        background-color: rgb(207,42,39);
        color: white;
        padding: 10px;
        border: 2px solid black;
    }
    .right-card {
        margin-bottom: 40px;
        border: 2px solid gray;
    }
    .right-card button {
        width: 90%;
        padding: 5px;
        border: 2px solid black;
        margin: 10px 15px;
        border-radius: 5%;
    }
    .card-content {
        background-color: white;
        border: 3ps gray solid;
    }
    .right-card ol {
        padding: 10px 20px;
        background-color: white;
    }